.about {
  max-width: 1140px;
  height: 560px;
  background-color: #fff8f3;

  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.about-content {
  border: 1px solid black;
  width: 827px;
  /* height: 288px; */
  text-align: center;
  padding: 8px;
  background-color: #ffffff;
}
.about-biodata {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 0;
}
.about-h2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.about-para {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.biodata-para1 {
  color: #757575;
  font-size: 20px;
}
.biodata-para2 {
  color: #181818;
  font-weight: bold;
  font-size: 20px;
}
