.card-container {
  max-width: 827px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  gap: 15px;
}
.card-container .card {
  padding: 20px 5px 20px 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #00000062;
  background: linear-gradient(
    to top right,
    rgb(36, 116, 142),
    rgba(128, 128, 128, 0.692)
  );
  border-radius: 5px;
  margin-bottom: 100px;
}
.card-container .card:hover {
  box-shadow: inset 1px 1px 5px #00000062;
  background: linear-gradient(
    to bottom left,
    rgb(28, 168, 215),
    rgba(128, 128, 128, 0.785)
  );
}

.tech-title {
  font-size: 20px;
  color: #181818;
  margin: 10px 0;
}
.tech-about {
  font-size: 16px;
  color: #151505d6;
}
